[submodule "external/cpuf"]
	path = external/cpuf
	url = https://github.com/Sinfolke/cpuf
[submodule "mod/parser"]
	path = mod/parser
	url = https://github.com/Sinfolke/ISC-parser.git
	branch = parser
[submodule "mod/converter-cpp"]
	path = mod/converter-cpp
	url = https://github.com/Sinfolke/ispa-parser.git
	branch = converter-cpp
