/*
    It is some example of an output you may see
    1 - line enumeration. Each new message has new enumaration
    10ms - the execution time of program when message has been outputted
    <tokens/MY_TOKEN.isc/MY_TOKEN> - the path to the rule where the message was outputted.
     -----------------  ----------
     path to the file   name of the rule
    data: { type: "MY_TOKEN", val: { name: "INT", val: 100 } } - the message itself you wanted to output.
*/

### DEBUG LOGGING ### 
1 (10ms)<tokens/MY_TOKEN.isc/MY_TOKEN>: data: { type: "MY_TOKEN", val: { name: "INT", val: 100 } }
2 (30ms)<rules/MY_RULES.isc/rule1>: Matched MY_TOKEN
2 (30ms)<rules/MY_RULES.isc/rule2>: Matched STRING
2 (35ms)<rules/MY_RULES.isc/rule2>: the following rule ('rule2') has been matched